fastapi
uvicorn
pandas
python-multipart
python-pptx
pydantic
openai
plotly
langchain
autogen
google-adk
RestrictedPython
matplotlib
scipy
duckdb
requests
python-dotenv
psycopg2-binary
pymysql
sqlalchemy
jinja2
scikit-learn
numpy